body{
    font-family: Arial, Helvetica, sans-serif;
 
}
.submitDark{
    background-image: linear-gradient(to bottom, #2424c5, #17191a);
    
}
.btnDark button{
    width: 100px;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    border-radius: 5px;
    
}
legend{
    padding: 10px;
    text-align: center;
    border-radius: 8px;
}
.legendDark{

    padding: 10px;
    text-align: center;
    border-radius: 8px;
}
.inputBox{
    position: relative;
}
.inputUser{
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: rgb(7, 7, 7);
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
}
.inputUserDark{
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: rgb(199, 16, 16);
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
}
.labelInput{
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;

}
.bodyDark{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, #191924, #0e0ee2);
}
.box{
    color: #8bee94;
    position: absolute;
    top: 50%;
    left: 14%;
    transform: translate(-50%,-50%);
    background-color: rgba(175, 11, 39, 0.6);
    padding: 15px;
    
    width: 400px;
}
.labelInputDark{
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
   
}
.inputUser:focus ~ .labelInput,
.inputUser:valid ~ .labelInput{
    top: -20px;
    font-size: 12px;
    color: #110d0d;
}
.inputUserDark:focus ~ .labelInputDark,
.inputUserDark:valid ~ .labelInputDark{
    top: -20px;
    font-size: 12px;
    color: #1dd10c;
}
.submit{
    background-image: linear-gradient(to bottom, #c6d30c07, #02a6f1);
    width: 100%;
    border: none;
    padding: 15px;
    color: rgb(0, 0, 0);
    font-size: 17px;
    cursor: pointer;
    border-radius: 10px;
   
}

#submit:hover{
    transform: scale(1.01);
    border: .5px solid #e6eaee;
}
@media(max-width:500px){
    .box{
        width: 50%;
    }
}
